@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  overflow-x: hidden;
}

.zIndex-1001 {
  z-index: 1001;
}
.zIndex-1000 {
  z-index: 1000;
}

.leaflet-box {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px;
}
/* TRANSITION */
.container-transition {
  opacity: 0;
  overflow: clip;
}
.container-transition.width {
  width: 0;
}
.container-transition.height {
  max-height: 0;
}
.container-transition.expanded {
  overflow: visible;
  opacity: 1;
}
.container-transition.expanded.width {
  width: 100%;
}
.container-transition.expanded.height {
  max-height: 100%;
}

.inverted.width > svg {
  transform: rotateY(180deg);
}
.inverted.height > svg {
  transform: rotateX(180deg);
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}