/* @layer components{
  .sidebar-icon{
    @apply flex relative items-center justify-content w-12 h-12;
  }
} */

:root {
  --hover: 0;
}

svg {
  filter: invert(1);
}

.sidebar-icon:hover {
  background-color: white;
}

.sidebar-icon:hover svg {
  filter: invert(0);
  transition: 0.25s;
}
.sidebar-icon.disabled:hover svg {
  filter: none;
}
.sidebar-icon:hover > .aside-p {
  font-weight: 700;
  color: black;
}
.sidebar-icon.disabled > .aside-p {
  opacity: 0.25;
}
.sidebar-icon.disabled {
  pointer-events: none;
}
.sidebar-icon.disabled:hover > .aside-p {
  font-weight: normal;
  color: white;
}
.sidebar-icon > div > svg:first-child {
  display: none;
}
.sidebar-icon.disabled > div > svg:first-child {
  display: initial;
}
.sidebar-icon.disabled > div > svg:last-child {
  opacity: 0.25;
}

.sidebar {
  transition-duration: 0.5s;
}

.aside-p {
  display: flex;
  pointer-events: none;
  position: absolute;
  margin-left: 4rem;
  color: white;
  transition-duration: 2s;
  transition-delay: 0.2s;
  text-decoration: none;
  width: auto;
  max-width: 0%;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 0.5s linear;
}

.sidebar:hover {
  width: 300px;
  transition-delay: 0.05s;
}

.sidebar:hover .aside-p {
  /*left: 100px;
  transition-duration: 1.5s; */
  max-width: 100%;
  transition: max-width 1s linear;
}

.sidebar:hover .sidebar-icon {
  width: 250px;
  transition-duration: 0.5s;
  transition-delay: 0.05s;
}
