.fancy-link {
    text-decoration: none;
    background-image: linear-gradient( #ffffff, #ffffff);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0% 3px;
    transition: background-size 500ms ease-in-out;
  
    /* extra styling   */
    font-weight: var(--fw-bold);
  }
  
  .fancy-link:hover {
    background-size: 100% 3px;
    color: inherit;
  }

  body{
    background-color: darkgray;
  }