.ant-segmented-group {
  align-items: center !important;
}
.ant-segmented-group > label {
  width: 2rem;
}
.ant-segmented-group * {
  display: flex;
  align-items: center;
  justify-content: center;
}
