/* select{
    background: none;
    max-width: 100%;
}

option{
    color: black;
}

@media only screen and (max-width: 1300px){
    form{
        margin-right: 200px;
    }
}
@media only screen and (max-width: 1000px){
    form{
        margin-right: 300px;
    }
}
@media only screen and (max-width: 875px){
    form{
        margin-right: 400px;
    }
} */
