<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div className="container">
        <div className="box">
          <form action="/login" method="post">
            <h2>Ingresar</h2>
            <div className="input-box">
              <input className="typebox" type="email" name="mail_user" id="mail_user" placeholder=" " required>
              <label htmlFor="correo">Correo</label>
            </div>
            <div className="input-box">
              <input className="typebox" type="password" name="password_user" id="password_user" placeholder=" " required>
              <label htmlFor="contrasena">Contraseña</label>
            </div>
            <input type="submit" name="boton" id="boton">
            <br>
            <p><a href="#">Ya tengo una cuenta</a></p>
        </div>
      </div>
</body>
</html>