<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro Ingresante</title>
  <link rel="stylesheet" href="/styles/register.css">
</head>

<body>
  <a href="" id="volver">Volver</a>
  <div className="container">
    <div className="box">
      <button type="button" id="volver">VOLVER</button>
      <p><a id="repeat" href="">Solicitar nuevo código</a></p>
      <form id="form-secondary" autocomplete="off" method="post">
        <div>
          <input type="hidden" name="attempts" value="
          <% if (typeof attempts == "string") { %>
            <%= attempts %>
            <% } %>
          ">
          <input type="number" name="code" placeholder="000000" value="" 
          <% if (typeof disabled == "string") { %>
            <%= disabled %>
            <% } %>
          />
          <span>
            <% if (typeof spanCode == "string") { %>
              <%= spanCode %>
              <% } %>
          </span>
          <label htmlFor="">Ingresar Código</label>
        </div>
        <input id="submit" type="submit" name="boton" id="boton" 
        <% if (typeof disabled == "string") { %>
          <%= disabled %>
          <% } %>
        />
      </form>
    </div>
  </div>

  <script src="/js/sendRegisterCode.js"></script>
</body>

</html>