<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Ingresante</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div className="box">
        <form action="/conregisterrec" method="post">
            <h2>Ingresar</h2>
            <div className="input-box">
                <input className="typebox" type="email" name="correo" id="correo">
                <label htmlFor="correo">Correo</label>
            </div>
            <div className="input-box">
                <input className="typebox" type="text" name="nombre" id="nombre">
                <label htmlFor="nombre">Nombre</label>
            </div>
            <div className="input-box">
                <input className="typebox" type="password" name="contrasena" id="contrasena">
                <label htmlFor="contrasena">Contraseña</label>
            </div>
            <div className="input-box">
                <input className="typebox" type="password" name="contrasena2" id="contrasena2">
                <label htmlFor="contrasena2">Repetir Contraseña</label>
            </div>
            <div className="input-box">
                <input className="typebox" type="date" name="nacimiento" id="nacimiento">
                <label htmlFor="nacimiento">Fecha de Nacimiento</label>
            </div>
            <div className="input-box">
                <input className="typebox" type="text" name="direccion" id="direccion">
                <label htmlFor="direccion">Dirección</label>
            </div>
            <div className="input-box">
                <input className="typebox" type="tel" name="telefono" id="telefono">  
                <label htmlFor="telefono">Teléfono</label>  
            </div>
            <div className="input-box">
                <select name="universidad" id="universidad">
                    <option value="id">Universidad Nacional de La Matanza</option>
                    <option value="id">Universidad Nacional de Hurlingham</option>
                </select>
                <label htmlFor="universidad">Universidad</label>
            </div>
        
            <input type="submit" name="boton" id="boton">
        
            <a href="#">Ya tengo una cuenta</a>
    </div>
</body>
</html>