.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: url("../../public/backgroundRegister.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.box {
  position: relative;
  width: 600px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 2px solid white;
  border-radius: 10%;
}

.inputbox {
  position: relative;
  margin: 15px 0;
  border-bottom: 2px solid white;
  width: 400px;
}

.inputbox input {
  min-width: 400px;
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

.inputbox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  transition: 0.5s;
  color: white;
}
.inputbox input:focus ~ label,
.inputbox input:not(:placeholder-shown) ~ label {
  top: -20px;
  left: 0;
  color: rgb(202, 202, 202);
  font-size: 12px;
}

.inputbox span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 0;
  font-size: 16px;
  transition: 0.5s;
  color: white;
}
.inputbox input:focus ~ span,
.inputbox input:not(:placeholder-shown) ~ span {
  top: -20px;
  right: 0;
  color: rgb(202, 202, 202);
  font-size: 12px;
}

.box a {
  color: white;
  display: flex;
  justify-content: center;
}

.boton {
  display: flex;
  position: relative;
  left: 50px;
  justify-content: center;
  width: 300px;
  height: 40px;
}

.nacimiento {
  color-scheme: dark;
}
