.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.button {
  position: relative;
  width: 8rem;
  height: 50vh;
  overflow: hidden;
  box-sizing: border-box;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  /*  background-color: #ebf7fc; */
  transition: 0.3s ease all;
  z-index: 1;
}
/* Button 10 */
#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
  position: absolute;
  top: 0.5rem;
  width: 7rem;
  height: 7rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 10%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-10 .knobs:before {
  content: "";
  background-color: black;
  opacity: 0.3;
}

#button-10 .knobs:after {
  content: "Registrarse";
  padding-block: 2.8rem;
  left: 0.5rem;
  top: calc(50vh - 7rem - 0.5rem);
  color: #4e4e4e;
}

#button-10 .knobs span {
  display: inline-block;
  position: relative;
  padding-block: 2.8rem;
  color: #fff;
  z-index: 1;
}

#button-10 .checkbox:checked:active + .knobs:after {
  margin-top: -1.5rem;
}
#button-10 .checkbox:not(:checked):active + .knobs span {
  margin-top: 1.5rem;
}
#button-10 .checkbox:active + .knobs:before {
  height: 10rem;
}
#button-10 .checkbox:checked:active + .knobs:before {
  margin-top: -3rem;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
#button-10 .checkbox:not(:checked):active + .knobs:before {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

#button-10 .checkbox:checked + .knobs span {
  color: #4e4e4e;
}

#button-10 .checkbox:checked + .knobs:before {
  top: calc(50vh - 7rem - 0.5rem);
  background-color: black;
  opacity: 0.3;
}

#button-10 .checkbox:checked + .knobs:after {
  color: #fff;
}

#button-10 .checkbox:checked ~ .layer {
  /* background-color: #fcebeb; */
}
