.inputbox input {
  min-width: 400px;
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
}

.inputbox label {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 0;
  font-size: 16px;
  transition: 0.5s;
  color: black;
}
.inputbox input:focus ~ label,
.inputbox input:not(:placeholder-shown) ~ label,
label.input-focusing {
  top: -20px;
  right: 0;
  color: rgb(153, 153, 153);
  font-size: 12px;
}

.inputbox span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  transition: 0.5s;
  color: black;
}
.inputbox input:focus ~ span,
.inputbox input:not(:placeholder-shown) ~ span,
span.input-focusing {
  top: -20px;
  left: 0;
  color: rgb(202, 202, 202);
  font-size: 12px;
}
