@property --r {
  syntax: "<color>";
  inherits: false;
  initial-value: #0000;
}
.right {
  transition: --r 1s;
  background-image: linear-gradient(to right, #0000, var(--r) 50%);
}
.right:hover {
  transition: --r 1s;
  --r: #49be;
}
@property --l {
  syntax: "<color>";
  inherits: false;
  initial-value: #0000;
}
.left {
  transition: --l 1s;
  background-image: linear-gradient(to left, #0000, var(--l) 50%);
}
.left:hover {
  transition: --l 1s;
  --l: #396e;
}

.center {
  background-position: 50% 50%;
  border-color: white;
  transition: 1s;
}
.center:hover {
  border-color: black;
  transition: 1s;
}
@property --c {
  syntax: "<color>";
  inherits: false;
  initial-value: #0000;
}
.centerbar {
  transition: --c 1s;
  background-image: linear-gradient(
    to right,
    #0000 10%,
    var(--c) 45% 55%,
    #0000 90%
  );
}
.centerbar:hover {
  transition: --c 1s;
  --c: #fffd;
}
.centerbar .logo {
  transition: 1s;
}
.centerbar:hover .logo {
  filter: invert(1);
  transition: 1s;
}
